* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bandeau-photo, .container-nav, .container-footer {
    display: none;
}

/* ---- HEADER MOBILE & TABLETTE ---- */
.nav-h-mob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 173, 49);
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    z-index: 1000;
}

.nav-h-mob i {
    font-size: 34px;
    cursor: pointer;
    background-color: rgb(119, 173, 49);
    color:rgb(65, 65, 65);
}

.nav-h-btn, .nav-h-btn-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.nav-h-mob p, .nav-h-btn-profil p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/*Menu déroulant - Profil*/
.profil-mob-deroulant {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 15px;
    text-align: left;
    background-color: rgb(119, 173, 49);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 650;
    border-radius: 5px;
    border: solid black 2px;
    border-bottom: 1px solid black
}

.mob-deroulage {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mob-deroulage a {
    display: block;
    text-decoration: none;
    color:  rgb(65, 65, 65);
}
.mob-deroulage a:hover {
    text-decoration: none;
    color: rgb(230, 250, 175);
}

.mob-deroulage li {
    padding: 10px 0;
    border-bottom: black solid 2px;
}

.mob-deroulage li:last-child {
    border-bottom: none; /* pas de trait après le dernier élément */
}

/* ---- NAVIGATEUR BAS MOBILE & TABLETTE ---- */
.nav-b-mob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 173, 49);
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    border-top: black 2px solid;
}

.nav-b-mob i {
    font-size: 34px;
    color: rgb(65, 65, 65);
    cursor: pointer;
}

.nav-b-btn {
    border: none;
    background-color: rgb(119, 173, 49);
}

/* ---- NAVIGATEUR WEB ---- */
.nav-web {
    display: none; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-web i {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-web-btn, .nav-web-btn-profil {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 15px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.nav-web-btn i, .nav-web-btn-profil i {
    font-size: 40px; 
}

/*BODY */

.titre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(65, 65, 65);
}

.carte {
    width: 70%;
    max-width: 100%;
    height: 300px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #000000;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 80px;
    gap: 20px;
    padding-top: 80px;
}

.recherche-container {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
}

.barre-recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid rgb(119, 173, 49);
    color: rgb(65, 65, 65);
    border-radius: 5px;
    padding: 12px 20px;
    outline: none; 
}

.barre-recherche::placeholder {
    color: rgb(65, 65, 65);
    font-style: oblique;
}

.barre-recherche:focus {
    border-color: rgb(119, 173, 49);
    box-shadow: 0 0 8px rgb(119, 173, 49, 1);
}

/*Zone filtre*/

.filtres {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filtres h4 {
    color: rgb(119, 173, 49);
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px dashed rgb(119, 173, 49);
}

fieldset {
    padding: 0.9rem;
}

legend {
    padding: 0.8rem;
}

input[type="checkbox"] {
    accent-color: rgb(119, 173, 49);
}

/* zone 1*/
.filtres-zone-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    color: rgb(65, 65, 65);
    gap: 2rem;
    border-bottom: 1px dashed rgb(119, 173, 49);
}

.filtres-zone-1 fieldset {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;    
}

.filtres-zone-1 legend {
    color: rgb(119, 173, 49);
    text-align: start;
    font-size: 1.1rem;
}

/* zone 2 */

.filtres-zone-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    color: rgb(65, 65, 65);
    gap: 2rem;
    border-bottom: 1px dashed rgb(119, 173, 49)
}

.filtres-zone-2 fieldset {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;    
}

.filtres-zone-2 legend {
    color: rgb(119, 173, 49);
    text-align: start;
    font-size: 1.1rem;
}

/* zne prix */

.prix-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    padding: 1rem;
}

.prix-zone label {
    color: rgb(119, 173, 49);
}

.prix-zone input {
    border: 1px solid rgb(119, 173, 49);
    border-radius: 3rem;
    padding: 0.4rem;
    outline: rgb(119, 173, 49);
}

.prix-zone input:focus {
    border: 2px solid rgb(119, 173, 49);
    outline: none;
}

.suggestions-list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(119, 173, 49);
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestion-item:hover {
  background-color: rgb(146, 211, 61); /* ton vert */
  color: white;
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.9rem;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 20px;
    border: 1px solid rgb(119, 173, 49);
    border-radius: 5px;
    color: white;
    background-color: rgb(119, 173, 49);
}

.searchBtn:hover {
    background-color: rgb(136, 197, 57);
    border: 1px solid rgb(136, 197, 57);
}

.zone-resultats {
    border: 2px solid rgb(119, 173, 49);
    border-radius: 5px;
    background-color: rgb(230, 250, 175);
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(65, 65, 65);
    text-align: start;
}

.zone-resultats h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(119, 173, 49);
    text-align: center;
}

.btn-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0.9rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 20px;
    border: 1px solid rgb(119, 173, 49);
    border-radius: 5px;
    color: rgb(230, 250, 175);
    background-color: rgb(119, 173, 49);
}

.btn-details:hover{
    background-color: rgb(136, 197, 57);
    border: 1px solid rgb(136, 197, 57);
    text-decoration: none;
    color: rgb(230, 250, 175);
}

.btn-reserver {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.9rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 20px;
    border: 1px solid rgb(119, 173, 49);
    border-radius: 5px;
    color: rgb(230, 250, 175);
    background-color: rgb(119, 173, 49);
}

.btn-reserver:hover {
    background-color: rgb(136, 197, 57);
    border: 1px solid rgb(136, 197, 57);
}

.carte-trajet {
  border: 1px solid rgb(119, 173, 49);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(230, 250, 175);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infos-chauffeur {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.infos-chauffeur img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(119, 173, 49);
}

.infos-trajet {
  padding-left: 0.5rem;
  color: rgb(65, 65, 65);
  font-family: 'Lucida Sans', sans-serif;
}

@media (min-width : 1024px) {
    .nav-h-mob, .nav-b-mob {
        display: none;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        margin-top: 0.2rem;
        width: 100%;
        height: 15%;
        background-color: rgb(119, 173, 49);
    }

    .logo-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        margin-left: 4rem;
    }

    .logo img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-radius: 55px;
    }

    .text-titre {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /*liens barre de navigation*/ 
    .lien-nav {
        display: flex;
        list-style: none;
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin: 0; 
    }

    .accueil, .trajet,
    .connexion, .contact {
        display: flex;
        justify-content: center;
        width: 12rem;
        gap: 1rem;
    }

    .accueil a, .trajet  a,
    .connexion a, .contact a {
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        margin-bottom: 0;
    } 

    .accueil a:hover, .trajet a:hover,
    .connexion a:hover, .contact a:hover {
        text-decoration: none;
        color: rgb(230, 250, 175);
    }

    /* Soulignement pour "accueil" */ 
    .souligne-accueil {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: rgb(230, 250, 175);
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .lien-nav li:hover .souligne-accueil {
        width: 100%;
        left: 0;
    }

    /* Soulignement pour "trajet"*/
    .souligne-trajet {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: rgb(230, 250, 175);
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .lien-nav li:hover .souligne-trajet {
        width: 100%;
        left: 0;
    }

    /*Soulignement pour "connexion" */
    .souligne-connexion {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: rgb(230, 250, 175);
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .lien-nav li:hover .souligne-connexion {
        width: 100%;
        left: 0;
    }   

    /*Soulignement pour "contact" */
    .souligne-contact {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: rgb(230, 250, 175);
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;    
    }

    .lien-nav li:hover .souligne-contact {
        width: 100%;
        left: 0;
    }

    .bandeau-photo {
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        padding-top: 0.3rem;
        margin: 0;
        padding: 0;
    }

    .img-bandeau img {
        width: 100vw;
        max-height: 400px;
        object-fit: cover; /* Coupe propre les images si besoin */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* FOOTER */

    .container-footer {
        display: flex;
        justify-content: space-between;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
        background-color: rgb(119, 173, 49);
        margin-top: 2rem;
    }

    .all-cadre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }

    .cadre-footer-1, .cadre-footer-2, .logo-footer {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        margin: 1rem;
        width: 25%;
        text-align: center;
    }

    .contact-footer li {
        list-style: none;
    }

    .logo-footer img {
        width: 120px;
        height: 120px;
        border-radius: 75px;
        margin: 5px;
    }

    .cadre-footer-1 a {
        color: rgb(230, 250, 175);
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    .cadre-footer-1 a:hover {
        transform: scale(1.2);
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .cadre-footer-2 li {
        color: rgb(230, 250, 175);
        font-size: 1.5rem;
    }

    .bi-telephone-fill, .bi-envelope {
        display: inline-block;
        font-size: 1.8rem;
        color: rgb(65, 65, 65);
        transition: transform 0.3s ease;
    }

    .telephone, .mail {
        display: inline-block;
        transition: transform 0.3s ease
    }

    .telephone:hover, .mail:hover {
        transform: scale(1.1);
        font-weight: bold;
    }
}